{% extends "base.html" %}

{% block head %}
<title>Mortis: Linktree</title>
{% endblock %}

{% block body %}
<div
  class="card mx-auto my-5 text-white"
  style="width: 27rem; background-color: #333333"
>
  <div class="list-group mx-auto" style="width: 25rem">
    <a
      href="/gore"
      class="list-group-item list-group-item my-2"
      style="background-color: black; color: red"
      >Terrorism</a
    >
    <a
      href="/gore"
      class="list-group-item list-group-item my-2"
      style="background-color: black; color: red"
      >Truck bombs</a
    >
    <a
      href="/gore"
      class="list-group-item list-group-item my-2"
      style="background-color: black; color: red"
      >Murder</a
    >
    <a
      class="list-group-item list-group-item-action disabled my-2"
      style="background-color: black; color: red"
      >Rape</a
    >
    <a
      href="/gore"
      class="list-group-item list-group-item my-2"
      style="background-color: black; color: red"
      >Active HIV infection</a
    >
    <a
      href="/gore"
      class="list-group-item list-group-item my-2"
      style="background-color: black; color: red"
      >Suicide</a
    >
    <a
      href="logout"
      class="btn btn-danger my-2"
      style="color: white; width: 8rem"
    >
      Log out
    </a>
  </div>
</div>
{% endblock %}
